/* src/pages/ContactUs.css */
.contact-page {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  background: #121212;
  color: white;
}

.contact-left {
  width: 40%;
}

.contact-right {
  width: 55%;
}

.contact-right form {
  display: flex;
  flex-direction: column;
}

.contact-right input,
.contact-right textarea,
.contact-right select {
  margin-bottom: 15px;
  padding: 10px;
  background: #1f1f1f;
  color: white;
  border: 1px solid #444;
}

.contact-right button {
  background: #00b894;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}